
section{
    padding-top: 70px;
    h1{
    text-align: center;
}
}
form{
    margin: 50px auto;
    width: 80%;
    >div{
        width: 80%;
        margin: 30px auto ;
        >input{
            width: 100%;
            height: 40px;
            padding: 20px;
        }
    }
    >button{
        
        background-color: aquamarine;
        margin: 10px 100px ;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #000;
        cursor: pointer;
    }
}